*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #f4f5f6;
    color: #333;
    font-size: 13px;
    line-height: 18px;
    font-family: Arial,Helvetica,sans-serif;
    overflow-x: hidden;
}


.main-container {
    background-color: #fff;
    height: 100%;
    width: 100%;
}

.main-nav {

    min-height: 10vh;
}

.top-nav {
    background-color: #f72210;
    height: 95px;
    padding: 20px 10px 15px;
    position: relative;
    z-index: 2;
    background-color: #f72210;
}

.middle-nav {
    background-color: #f72210;
    -webkit-transform: translate(-50%,0);
    transform: translate(-50%,0);
    position: absolute;
    z-index: 3;
    top: 0;
    left: 50%;
    padding-top: 10px;
    padding-bottom: 10px;
}

.bottom-nav {
    background-color: #fff;
}

.brand svg{
    width: 396px;
    height: 60px;
    margin: 10px auto 0;
    fill: white;
}
.hamburger_menu {
    display: none;
}

.page-header date {
    margin-left: 20px;
    display: block;
    font: 16px/34px "Roboto Condensed",sans-serif;
    color: white;
}

.link2, .link3 {
    color: white;
    font-size: 18px;
    padding-left: 12px;
    padding-right: 12px;
    position: relative;
    font: bold 14px/14px "Roboto Condensed",sans-serif;
    text-transform: uppercase;
    display: inline-block;
    padding: 6px 3px;
}

.link3 {
    background-color: white;
    color: #f72210;
}

.link3 svg {
    fill: #f72210;
    display: inline-block;
    width: 8px;
    height: 14px;
    margin-left: 10px;
}